<h2>Users</h2>
<table class="table">
	<thead>
		<tr>
			<th>Username</th>
			<th>First name</th>
			<th>Last name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>{{user.username}}</td>
			<td>{{user.name.first}}</td>
			<td>{{user.name.last}}</td>
			<td>
				<form>
					<button type="submit" ng-click="deleteUser(user._id)" class="btn btn-sm btn-danger">Delete</button>
				</form>
			</td>
			<td>
				<a ui-sref="edit({id:user._id})" class="btn btn-sm btn-warning">Edit</a>
			</td>
		</tr>
	</tbody>
</table>
